<app-cabezera titulo="Datos Personales"></app-cabezera>

<ion-content>
  <ion-label></ion-label>
    <ion-input [(ngModel)]="Nombre" type="text" maxlength="20" placeholder="Nombre de alumno">{{"Nombre: "}}</ion-input>
    <ion-input [(ngModel)]="apellidos" type="text" maxlength="40" placeholder="Apellidos del alumno">{{"Apellidos: "}}</ion-input>
    <ion-input [(ngModel)]="edad" type="text" maxlength="3" placeholder="Edad del alumno">{{"Edad: "}}</ion-input>
    <ion-input [(ngModel)]="Numerotelefono" type="text" maxlength="12" placeholder="Numero de telefono del alumno">{{"Numero de telefono:"}}</ion-input>
    <ion-input [(ngModel)]="contrasena" type="password" maxlength="15" placeholder="Introdce la contraseña">{{"Contrasena:"}}</ion-input>
    <ion-input [(ngModel)]="poblacion" type="text" maxlength="20"placeholder="Poblacion  del alumno">{{"Poblacion: "}}</ion-input>
    <ion-input [(ngModel)]="email" type="text" maxlength="20" placeholder="Email del alumno">{{"Email: "}}</ion-input>
    <ion-input [(ngModel)]="Estudios" type="text" maxlength="20" placeholder="Estudio del alumno">{{"Estudios: "}}</ion-input>
</ion-content>
