<app-cabezera titulo="Modulos"></app-cabezera>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dam1">
        <ion-icon name="caret-down-circle"></ion-icon>
      <ion-label>1º DAM</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dam2">
      <ion-icon name="caret-down-circle-outline"></ion-icon>
      <ion-label>2º DAM</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fct">
      <ion-icon name="chevron-down-circle"></ion-icon>
      <ion-label>FCT</ion-label>
    </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>    

</ion-content>
